*.iml
.gradle
/local.properties

/.idea/*
# Keep only essential project configuration
!.idea/codeStyles/
!.idea/inspectionProfiles/
!.idea/modules.xml
!.idea/vcs.xml
!.idea/runConfigurations.xml
!.idea/compiler.xml

.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

app/release